<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  android:versionCode="4"
  android:versionName="1.3">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission
    android:name="android.permission.READ_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />

  <application
    android:icon="@drawable/ic_launcher"
    android:label="Tiny Music Player"
    android:restoreAnyVersion="true"
    tools:targetApi="froyo">

    <receiver
      android:name=".HWListener"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <service
      android:name=".Service"
      android:exported="false" />

    <activity
      android:name=".Launcher"
      android:excludeFromRecents="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.SEND" />

        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="audio/*" />
        <data android:mimeType="video/*" />
      </intent-filter>
    </activity>
  </application>
</manifest>
